body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

h3{
    font-weight: lighter;
}

body {
    background-color: #f0f0f2;
    color: #33333c;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-top: 4vh;
    background-color: #33333c;
    color: #f0f0f0;
    padding: 10px;
}

header p {
    font-size: 16px;
}

h2 {
    margin-top: 20px;
    font-size: 40px;
}

#projects {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

#projects ul {
    margin-top: 20px;
    list-style: none;
}

#projects li {
    margin: 10px 0;
}

#contact a {
    color: #33333c;
    text-decoration: none;
    font-weight: bold;
}

#contact {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

#emailaddress:hover{
    text-decoration: underline;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#navlink{
    color:#fff;
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: 1;
    position: relative;
    transition: 150ms ease-in-out;
}

#navlink:hover{
    opacity: 0.6;
}

#projects{
    background-color: #33333c;
    align-items: stretch;
}

.project:hover #projectHead{
    opacity: 1;
}

#pic{
    transition: 150ms ease-in-out;
    object-fit: cover; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#projectHead{
    opacity: 0;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 20px;
    margin-top: 90px;
    z-index: 1;
    color: #f0f0f2;
    text-decoration: underline;
}

.card {
    position: absolute;
    margin: 10px;
    width: 200px;
    display: inline-block;
    padding: 0px;
    height: 200px;
    object-fit: cover;
    transition: 150ms ease-in-out;
    position: relative;
    opacity: 1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateX( 180deg ) ;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background: #222255;
    transform: rotateX(180deg);
}