body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f2;
    color: #33333c;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-top: 4vh;
    background-color: #33333c;
    color: #f0f0f0;
    padding: 10px;
}

header p {
    font-size: 16px;
}

h2 {
    margin-top: 20px;
    font-size: 40px;
}

#projects {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

#projects ul {
    margin-top: 20px;
    list-style: none;
}

#projects li {
    margin: 10px 0;
}

#contact a {
    color: #33333c;
    text-decoration: none;
    font-weight: bold;
}

#contact {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

#emailaddress:hover{
    text-decoration: underline;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#navlink{
    color:#fff;
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: 1;
    position: relative;
    transition: 150ms ease-in-out;
}

#navlink:hover{
    opacity: 0.6;
}

#archiveHolderer{
    width: 565px;
    margin-left:auto;
    margin-right:auto;
    
}

#archiveHolder{
    margin-top: 20px;
    height: 20px;
    display:flex;
}

#archiveNumHolder{
    float: left;
    color: #888;
    width: 40px;
    height: 40px;
    position: absolute;
}

.archiveLink{
    text-decoration: none;
    font-weight: bold;
    float: left;
    margin-left: 70px;
    text-align: left;
}

.archiveLink:hover{
    text-decoration: underline;
}

.archiveLink#essay{
    color: red;
}

.archiveLink#tool{
    color: blueviolet;
}

.archiveLink#other{
    color: orange;
}

#archiveNum{
    float: right;
}